body {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    /* background-color: rgb(104, 104, 104); */
    background-image: url('https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

#log{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    border-radius: 10%;
}

#log:hover{
    background-color: #111;
}

div {
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  form {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    list-style-type: none;

    margin: 5px;
    overflow: hidden;

    /* margin-top: 10%; */
    height: 230px;
    /* width: 150px; */

    background-color: #333;
    border-radius: 5%;
  }

  form input{
    margin: 10px;
  }

  form #loggin{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    border-radius: 10%;
  }

  #mensaje {
    color: black;
    font-style: italic;
    font-size: x-large;
  }

  /*div class*/
  .error_div {
    background-color:rgb(0, 0, 0);width:auto;border-radius:6px
  }
  .error_div p {
    color:rgb(255, 0, 0);
    font-size:x-large;
    text-align:center;
    margin:10px;
  }

  /*Container background black*/
  .container {
    background-color: rgba(255, 255, 255, 0.789);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
  }